<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>The Walking Webb</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <header>Main page of stuff</header>
        <nav>
            <ul>
                <li><a href="orders.html" th:href="@{/admin/orders}">Orders</a></li>
                <li><a href="admin/products.html" th:href="@{/admin/products}">Product List</a></li>
            </ul>
        </nav>
        <form action="#" th:action="@{/admin/main}" method="post">
        </form>

    </body>
</html>
